.ui-header .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}
#titulo{
    text-align: center;
    font-size: 1.7em;
    margin-right: 0%;
    margin-left: 0%;
}
#imgRestaurante {
    width: 70%;
    height: 10%;
    float:right;
}